footer.footer
    p Created by 
     a(href='http://zhu.li', title='Leigh') Leigh
     |  | Powered by 
     a(href='http://www.google.com/cse', title='Google Custom Search') Google CSE
     |  | Hosted at 
     a(href='http://github.com', title='GitHub') GitHub
     |  | 
     a(href='https://github.com/lisposter/kindle-cse',title='kindle-cse') kindle-CSE
     |  | Project.