form(method='get', action='/search')
	label(for='q', class='label') Book Name 
	input(placeholder="Alice's Adventures in Wonderland", type='text', name='q', class='input')
	input(type='submit', value='Search', class="submit")
