nav.nav
	ul
		li
			a(href='http://blog.zhuli.me/',title='回到斯路博客') 斯路博客
		li
			a(href='https://twitter.com/lisposter/',title='在推特上联系我') @lisposter
		li
			a(href='https://github.com/lisposter/kindle-cse/blob/gh-pages/build', title='更新日志') 更新日志
		li
			a(href='http://blog.zhuli.me/2012/02/01/kindle-cse-project.html#respond', title='提出您的建议，推荐站点等') 给我建议