nav.nav
	ul
		li
			a(href='http://blog.zhuli.me/',title='回到斯路博客') My Blog
		li
			a(href='https://twitter.com/lisposter/',title='在推特上联系我') Twitter
		li
			a(href='https://github.com/lisposter/kindle-cse/tree/express', title='更新日志') Changelog
		li
			a(href='http://blog.zhuli.me/2012/02/01/kindle-cse-project.html#respond', title='提出您的建议，推荐站点等') Feedback