/**
 * @author          Leigh Zhu
 * @version         beta 0.1
 * @create-date     2012.01.09
 * @last-update     2012.02.01
 */

/**
 * 	思雨
 * 	有情难解又相思，不若无情数雨丝。
 */
/* =Reset default browser CSS. Based on work by Eric Meyer:http://meyerweb.com/eric/tools/css/reset/index.html
 -------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}
/* Style begin here by Leigh
 -------------------------------------------------------------- */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #000;
}
a:hover {
    color: #06f;
    text-decoration: underline;
}
ul {
    list-style: none outside none;
}
ul.disclaimer {
    list-style: circle;
}
body {
    font: 14px   /24px "Comic Sans MS", Helvetica, sans-serif;
}
#nav {
    background: #000;
}
#nav ul li {
    float: left;
    margin: 0 20px;
}
#nav a {
    color: #e6e6e6;
    line-height: 30px;
}
#nav a:hover {
    background: #3c3c3c;
    text-decoration: none;
}
#content {
    width: 960px;
    margin: 10px auto;
}
#searchform, #footer, h1 {
    text-align: center;
}
h1 {
    margin: 30px auto 10px auto;
}
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    color: #000;
    text-decoration: none;
}
#search-input {
    float: left;
    border: 1px solid #BBBBBB;
    font-family: inherit;
    font-size: 16px;
    padding: 3px 6px;
    width: 880px;
}
.search-button {
    background-color: #333333;
    border: 1px solid #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    min-width: 54px;
    padding: 0 8px;
}
p.intro, p.attention {
    display: block;
    margin: 10px;
}
p.attention {
    color: #f00;
    font-weight: bold;
}
.links {
    margin-top: 10px;
    border-top: 2px dashed #000;
    padding: 10px;
}
.links-group {
    font-size: 20px;
}
.category {
    margin-bottom: 20px;
}
.category ul {
    margin: 10px auto 0 60px;
}
.category ul li {
    float: left;
    width: 23%;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}
#footer {
    margin-top: 30px;
}
