extends layout

append head
	script(src='https://www.google.com/jsapi?key=ABQIAAAASpIO2HBUdt24Cw0XiBfp_RQYKrqYpTog8g5rUnDyLzl-kdWjpBS4cFwJTnjLAjHJ-cQFM13ssqanpQ')
	script
		google.load('search', '1', {
			language : 'zh-CN',
			style : google.loader.themes.MINIMALIST
		});
		google.setOnLoadCallback(function() {
			var customSearchOptions = {};
			var customSearchControl = new google.search.CustomSearchControl('010239715896823145211:7bxlsuzq-iu', customSearchOptions);
			customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
			customSearchControl.draw('cse');
			var match = location.search.match(/q=([^&]*)(&|$)/);
			if(match && match[1]) {
				var search = decodeURIComponent(match[1]);
				customSearchControl.execute(search);
			}
		}, true);

	script
		var bdime_option = {
			username : "lisposter",
		}
	script(src='http://www.baidu.com/olime/bdime_open.js')
block content
	include includes/nav
	h1=title
	div#cse
		p.intro Loading
